{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a href="export-all/json/" class="addlink">
            {% trans "Export All (JSON)" %}
        </a>
    </li>
    <li>
        <a href="export-all/csv/" class="addlink">
            {% trans "Export All (CSV)" %}
        </a>
    </li>
    <li>
        <a href="export-all/excel/" class="addlink">
            {% trans "Export All (Excel)" %}
        </a>
    </li>
{% endblock %}
